body {
    background-color: #0b5c3b;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

#mesa {
    margin-top: 20px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
